<h1>Order Database Home</h1>
<ol>
  <li>
    <a href="/foods">Menu Items</a>
  </li>
  <li>
    <a href="/parties">Current Parties</a>
  </li>
  <li>
    <a href="/orders">Open Orders</a>
  </li>
</ol>