<h1>Order Database Home</h1>
<ol>
  <li>
    <a href="/foods">Menu Items</a>
  </li>
  <li>
    <a href="/parties">Current Parties</a>
  </li>
  <li>
    <a href="/receipts">Closed Receipts</a>
  </li>
    <li>
    <a href="/tips">My Tips</a>
  </li>
</ol>