<html>
<head>
	<title>Golden Ticket Diner</title>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:700italic,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <img src="">

  <%= erb :"/static/navigation" %>

  <%= yield %>
</body>
</html>