<nav>
  <div class="clearfix">
    <img src="/goldenticket.jpg">
      <ul>
        <li><a href="/index">Home</li></a>
        <li><a href="/foods">Menu</li></a>
        <li><a href="/parties">Parties</li></a>
        <li><a href="/waiters">Employees</a></li></a>
      </ul>
  </div>
</nav>